p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.result {
  background-color: #DCF0DC;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}
.result p{
    display: inline;
}
.result::before {
  content: "Resultado - ";
  font-weight: bold;
}
.ex {
  background-color: #EEDCCA;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}
.ex p{
    display: inline;
}
.ex::before {
  content: "Exemplo: ";
  display: inline;
  font-weight: bold;
}
.book .book-body .page-wrapper .page-inner section.normal table tr:nth-child(2n){background-color:#E4C8AC}
.book .book-body .page-wrapper .page-inner section.normal table tr:nth-child(2n-1){background-color:#EEDCCA}
.book .book-body .page-wrapper .page-inner section.normal table th{background-color:#DAB48E}
.double-hrule {
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  height: 8px;
  margin: 50px 0 0px;
  border-color: #E7E7E7;
}
li > p:not(:last-child) {
  margin: 0 !important;
}
li > ul:last-child {
  margin-bottom: 1em !important;
}
a:link {
  color: #137458 !important;
}
a:visited {
  color: #0D4D3B !important;
}
.obs {
    margin: 0 0 0 20px;
}
.obs:before {
  content: "💬 Observação: ";
  font-size: 90%;
  font-style: italic;
}
.obs p{
    display: inline;
	font-size: 90%;
}
.extra {
    margin: 0 0 0 20px;
}
.extra:before {
  content: "🔍 Extra: ";
  font-style: italic;
}
.extra p{
    display: inline;
}
